<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carros</title>
    <link href="/static/css/carros.css" rel="stylesheet">
</head>
<body>

<header>
    <div class="logo">
        <a href="/">Página Inicial</a>
    </div>
    <nav>
        <ul>
            <li><a href="/stages">Stages</a></li>
            <li><a href="/tcu">TCU</a></li>
            <li><a href="/carros">Carros</a></li>   
        </ul>
    </nav>
</header>

<h1>Carros</h1>
<p>Escolha um veículo abaixo para verificar um exemplo sobre o nível de Performance e Potência em diferentes preparações:</p>

<select id="carros">
    <option value="">Selecione...</option>
</select>

<div id="info"></div>

<script src="/static/js/carros.js"></script>

</body>
</html>