<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Reprogramações em Veículos</title>
    <link href="/static/css/home.css" rel="stylesheet">
</head>
<body>

    <header>
        <div class="logo">
            <a href="/">Página Inicial</a>
        </div>
        <nav>
            <ul>
                <li><a href="/stages">Stages</a></li>
                <li><a href="/tcu">TCU</a></li>
                <li><a href="/carros">Carros</a></li>
            </ul>
        </nav>
    </header>
    
    <h1>Remapeamento de ECU</h1>

    <h2>O que é o Remap?</h2>
    <p>O remap (ou reprogramação de ECU) é o processo de alterar o software original da central eletrônica do veículo — chamada ECU (Engine Control Unit).
     Essa central controla diversos fatores relacionados com o motor, como:
    </p> 

    <ul>
        <li>Injeção de Combustível;</li>
        <li>Pressão do Turbo;</li>
        <li>Avanço de Ignição;</li>
        <li>Delay do Acelerador;</li>
        <li>Limite de Rotação;</li>
        <li>Diversos Parâmetros Eletrônicos.</li>
    </ul>

    <img src="/static/imgs/tabletremap.png" alt="Imagem ilustrativa de um tablet com gráficos do remap." class="imgsremap">

    <p>Quando o veículo sai de fábrica, a ECU vem com um mapa padrão, criado para equilibrar consumo, desempenho, emissões e durabilidade — seguindo normas de cada país. O remap modifica esse mapa original para melhorar o desempenho, o consumo ou a resposta do motor, de acordo com o objetivo do cliente.</p>

   

    <h2>Como o Remap é Feito?</h2>
    <p>O remap é feito por oficinas especializadas ou preparadores, onde normalemnte é feita a leitura do software original que pode ser feito através de um equipamento OBD2 ou via bancada removendo a ECU do carro e ligando o computador diretamente nela, onde é utilizado alguns aparelhos como: KESS, K-TAG, CMDFlash, Alientech e etc.</p>
    <h3>Edição e Gravação do Mapa</h3>
    <p>O arquivo original é aberto em um programa específico (como WinOLS ou ECM Titanium), depois o preparador vem e ajusta os parâmetros desejados pelo cliente (tuning file), após o ajuste, ocorre a gravação do novo mapa na ECU com as alterações feitas (reflash).</p>
    <h3>Teste e ajustes finais</h3>
    <p>Após a montagem da ECU no veículo, o carro é testado em um dinamômetro para conferir se os parâmetros estão seguros e estáveis, verificando se o remapemanteo atingiu o resultado ideal e entregou a necessidade do cliente. </p>

    <img src="/static/imgs/r8dinamometro.png" alt="Imagem ilustrativa de um profissional no computador trabalhando no remap." class="imgsremap">

</body>
</html>